
#GroupList {
    position: relative;
    top:30px;
    border-style: dashed;
    border-width: 7px;
    margin-bottom: 50px;
}

#head {
    margin: 30px; 
    font-size: xx-large;  
    font-weight: bold;
}

#left-col {
    border-style: none dashed none none;
    border-width:7px;
}

li[id="searched-group-list"]{
    list-style-type: none;
    background: rgb(202, 202, 202);
    transition: all .35s;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }

li[id="searched-group-list"]:hover {
    color:#fff;
    background: rgb(54, 54, 54);
    transform: translateY(-7px);
}

#searched-group-ul {
    padding-left: 0px;
    margin-left: 10px;
    margin-right:10px;
}

#searched-group-name {
    text-align: left;
    margin-left: 10px;
}

#number-of-member {
    text-align: right;
    margin-right: 10px;
}

#group-search-button {
    margin: 10px;
}

#group-search-input {
    height: 40px;
    width: 410px;
}

