/* h1[id="head"] {
    text-align: left;
    margin: 50px;
    font-size: 70px;
}

div[id="my-group"]{
    position: relative;
    top: 30px;
    width:800px;
    margin-left:50px;
    padding:0px;
    border: 4px solid #202020;
    border-radius: 10;
}

button[id='create-group-button']{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 690px;
    top: 130px;
    margin: 10px;
    background: rgb(202, 202, 202);
    font-size: 30px;
    border-radius: 10px;
    transition: all .35s;
    border: none;
}



input[id='group-search-input']{
    position: relative;
    width: 400px;
    height: 50px;
    left: 300px;
    top: 30px;
    margin: 10px;
    font-size: 30px;
}


  

ul{
    margin:0px;
    padding: 0px;
}

div[id="searched"]{
    position: fixed;
    top:213px;
    width: 780px;
    border: 4px solid #202020;
    border-radius: 10;
    padding-right: 400px;
    margin-left: 100px;
}

  li[id="searched-group-list"]{
    list-style-type: none;
    width:730px;
    text-align: left;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:30px;
    padding-right:60px;
    font-size:30px;
    margin:20px;
    border: 4px dashed #bcbcbc;
    transition:all .35s;
    cursor: pointer;
  }

  li[id="searched-group-list"]:hover {
    background:#bcbcbc;
}


  
div[id="number-of-member"]{
    text-align: right;
} */

#GroupList {
    position: relative;
    top:30px;
    border-style: dashed;
    border-width: 7px;
}

#head {
    margin: 30px; 
    font-size: xx-large;  
    font-weight: bold;
}

#left-col {
    border-style: none dashed none none;
    border-width:7px;
}

li[id="searched-group-list"]{
    list-style-type: none;
    background: rgb(202, 202, 202);
    transition: all .35s;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }

li[id="searched-group-list"]:hover {
    color:#fff;
    background: rgb(54, 54, 54);
    transform: translateY(-7px);
}

#searched-group-ul {
    padding-left: 0px;
    margin-left: 10px;
    margin-right:10px;
}

#searched-group-name {
    text-align: left;
    margin-left: 10px;
}

#number-of-member {
    text-align: right;
    margin-right: 10px;
}

#group-search-button {
    margin: 10px;
}

#group-search-input {
    height: 40px;
    width: 410px;
}