div[id="Group"]{
    margin:20px;
    border: 4px dashed #bcbcbc;
    transition:all .35s;
    cursor: pointer;
}

div[id="Group"]:hover {
    background:#bcbcbc;
}

div[id="name"]{
    text-align: left;
    font-size: 40px;
    padding-left:10px;
}

div[id="members"]{
    text-align: right;
    font-size: 20px;
    padding-right:10px;
}

div[id="studytime"]{
    text-align: right;
    font-size: 20px;
    padding-right:10px;
}

div[id="announcement"]{
    text-align: right;
    font-size: 20px;
    padding-right:10px;
}

