span[id="logo_text"] {
    top: -250px;
    left: 300px;
    font-size: 75px;
    font-weight: bold;
    margin-top: 100px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    width: 700px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}


div[id="Main"]{
    margin-top:100px;
}

input[id="menu-icon"]{
    display: none;
}

input[id="menu-icon"] + label {
    display:block;
    width:60px;
    height:40px;
    position:fixed;
    right:0;
    top:10%;
    transition:all .35s;
    cursor:pointer;
}

input[id="menu-icon"]:checked + label {
    z-index:2;
    right:300px;
}

input[id="menu-icon"] + label span{
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:50px;
    background: black;
    transition:all .35s;
}

input[id="menu-icon"] + label span:nth-child(1){
    top:0;
}
input[id="menu-icon"] + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="menu-icon"] + label span:nth-child(3){
    bottom:0;
}

input[id="menu-icon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="menu-icon"]:checked + label span:nth-child(2){
    opacity:0;
}
input[id="menu-icon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[id="sidebar"]{
    width:300px;
    height:100%;
    background:rgb(255, 123, 0);
    position:fixed;
    top:0;
    right:-300px;
    z-index:1;
    transition:all .35s;
}

input[id="menu-icon"]:checked + label + div {
    right:0;
}

div[id="sidebar"] ul li:nth-child(n+1) {
    list-style-type: none;
    color: white;
    font-size: 30px;
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    cursor:pointer;
    transition:all .35s;
}

div[id="sidebar"] ul{
    margin:0px;
    padding:0px;
}

div[id="sidebar"] ul li:nth-child(n+1):hover {
    background: black;
}

h1[id="menu"]{
    color: white;
    font-size: 50px;  
    margin: 20px;
}


button[id="button"]{
    position: relative;
    top: 150px;
    width:250px;
    height:180px;
    border: none;
    border-radius: 40px;
    background: rgb(255, 145, 0);
    transition: all .35s;
}

button[id="button"]:hover {
    color: rgb(255, 156, 28);
    background: black;
    transform: translateY(-10px);
    box-shadow: 0 0 10px  rgb(255, 156, 28),0 0 40px  rgb(255, 156, 28),0 0 80px  rgb(255, 156, 28);
}


span[id="button"]{
    font-size:50px;
}