span[id="logo_text"] {
    top: -250px;
    left: 300px;
    font-size: 75px;
    font-weight: bold;
    margin-top: 100px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    width: 700px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}


div[id="Main"]{
    margin-top:100px;
    height: 75vh;
}

#body {
    margin: 15px;
    font-size: 30px;
}

#study-button {
    width: 240px;
    height: 150px;
    border-radius: 30px;
    font-size: 50px;
    font-weight: bold;
    border-width: 5px;
}

