.jumbotron {
    background-image: url("../../../images/background.png");
    background-size: cover;
    height: 90vh;
}


.Signin {
    position: relative;
    top: 10%;
    left: 29%;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px;
    padding: 80px;
    width: 780px;
    border-radius: 30px;
}
.logo_text {
    font-size: 75px;
    font-weight: bold;
    margin-top: 50px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    width: 700px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.Text {
    border-radius: 10px;
    width:600px;
    height:50px;
    margin: 10px;
}

.button {
    border-radius: 10px;
    width:295px;
    height:50px;
    font-size: 30px;
    margin: 5px;
    background: rgb(202, 202, 202);
    transition: all .35s;
    border: none;
}


.button:hover {
    color:#fff;
    background: rgb(54, 54, 54);
    transform: translateY(-7px);
}