


.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }


#total{
    position: absolute;
    top: 40%;
    right:5%;
    font-size:25px;
}

#study{
    position: absolute;
    top: 55%;
    right:5%;
    font-size:25px;
}

#total2{
    position: absolute;
    top: 40%;
    right:5%;
    font-size:25px;
}

#study2{
    position: absolute;
    top: 55%;
    right:5%;
    font-size:25px;
}




div.react-calendar.calendar{
    position: absolute;
    top:10%;
    width: 555px;
    background: #eeeeee;
}

svg.react-calendar-heatmap {
    top:10%;
}

svg.react-calendar-heatmap text{
    fill: black
}

#statistic {
    margin-top: 30px;
    border-style: dashed;
    border-width: 7px;
}

div.react-calendar.calendar {
    width: 530px;
    margin-top:40px;
}

#timeline-button {
    position: absolute;
    right: 0px;
    margin-top: 10px;
}
